################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/sdk/.vs/DocuSign.Admin
/test/.vs/SdkTests
/test/SdkNetCoreTests/Properties/PublishProfiles/FolderProfile.pubxml
/test/SdkNetCoreTests/obj
/test/SdkNetCoreTests/bin/Debug/netcoreapp2.0
/test/packages
/test/SdkTests462/bin/Debug
/test/SdkTests462/obj
